<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/teacher/head"/> 

<body>

	<!-- Barra de Navegación superior -->
	<nav   th:replace="fragments/nav"/> 

	<div class="container">
		<h2>Detalles del profesor</h2>
		<div class="panel panel-default">
			<div class="panel-heading">DNI: </div>
			<div class="panel-body" th:text="${teacher.DNI}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Nombre: </div>
			<div class="panel-body" th:text="${teacher.name}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Apellido: </div>
			<div class="panel-body" th:text="${teacher.surname}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Categoria: </div>
			<div class="panel-body" th:text="${teacher.category}"></div>
		</div>
	</div>
	
	<footer th:replace="fragments/teacher/footer"/> 
</body>
</html>
