<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head"/> 

<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav"/> 

	<div class="container">
		<h2 th:text="#{teacher.details}">Detalles del profesor</h2>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{dni}">DNI: </div>
			<div class="panel-body" th:text="${teacher.DNI}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{name}">Nombre: </div>
			<div class="panel-body" th:text="${teacher.name}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{surname}">Apellido: </div>
			<div class="panel-body" th:text="${teacher.surname}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{category}">Categoria: </div>
			<div class="panel-body" th:text="${teacher.category}"></div>
		</div>
	</div>
	
	<footer th:replace="fragments/teacher/footer"/> 
</body>
</html>
