<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<h3 th:text="#{home.title}">Esta es una zona privada la web</h3>

		<p>
			<span th:text="#{home.user}">Usuario Autenticado como :</span> 
			<span sec:authentication="name" th:inline="text"> </span>
		</p>

		<p th:text="#{home.mark}">Notas del usuario</p>
		
		<button type="button" id="updateButton" class="btn btn-default"
			th:text="#{mark.update}">Actualizar
		</button>
		
		<script th:inline="javascript">
		/*<![CDATA[*/
			$( "#updateButton").click(function() {
				varnumberPage = [[${param.page}]];
				varurlUpdate = '/mark/list/update';
				if(numberPage != null){
					urlUpdate += "?page="+numberPage[0];
					}
				$("#tableMarks").load(urlUpdate);
			});/*]]>*/</script>

		<div th:replace="fragments/markList" th:fragment="tableMarks"
	    id="tableMarks"/>
 		<footer th:replace ="fragments/pagination"/>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>